
@using static SignUpLogin.Models.SignUpModel;
@model List<SignUpModel> 
<link rel="stylesheet" href="~/css/Accounts.css" />
<div class="Container w-auto h-auto p-3">
<div class="d-flex flex-row align-items-center justify-content-between">
<div class="heading align-self-end">Account Details</div>
      <a class="btn btn-success d-flex gap-1" asp-controller="Registration" asp-action="SignUp"><i class="bi bi-plus-lg"></i>Add User</a>    
 </div>
 <hr />
    <div class="table_container ">
<table class=" table table-striped p-2">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Music</th>
            <th>Sports</th>
            <th>Travel</th>
            <th>Movies</th>
            <th>Source of Income</th>
            <th>Income</th>
            <th>Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
        <tr>
            <td>@obj.FirstName</td>
            <td>@obj.LastName</td>
            <td>@obj.Email</td>
            <td>@obj.Gender</td>
            <td>@obj.Age</td>
            <td>@obj.Music</td>
            <td>@obj.Sports</td>
            <td>@obj.Travel</td>
            <td>@obj.Movies</td>
            <td>@obj.sourceOfIncome</td>
            <td>@obj.Income</td>
            <td>@obj.Bio</td>
            <td class="d-flex gap-3 ">
                                <div>      
                                    @Html.Partial("_Update", Model)
                                </div>

                <a asp-controller="Account" asp-action="Delete" class="btn btn-danger"><i class="bi bi-trash3"></i></a></td>
        </tr>
        }
    </tbody>
</table>
</div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $('#idrange').change(function () {
        $('#idvalue').text(parseInt($('#idrange').val()) / 1000 + "K")
    })
</script>
